<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!--hoja de estilo-->   
    <link rel="stylesheet" href= "../css/style.css"> 
    <link rel="icon" href="Public/img/icon-prompt.png">
    <title>IA para generar texto</title>
</head>
<body> 
    <!-- Header -->
    <header>
        <div>
            <h1>Pasos para escribir un prompt efectivo</h1>
            <h2>El docente transformando la enseñanza</h2>
        </div>
    </header>
    
    <!-- NavBar -->
    <nav class="navbar">
        <a href="../../index.html" target="_blank">Inicio</a>
        <a href="iatexto.html">IA Texto</a>
        <a href="iaimagen.html">IA Imagen</a>
        <a href="">IA Video</a>
        <a href="formulario.html">Formulario</a>
    </nav> <!-- /.navbar -->

   <!--Main-->  
    <div class="container-fluid">
        <article class="iatexto">
            <h2>Los 6 pasos mágicos para escribir un prompt</h2>
            <p>Es clave al momento de elaborar un prompt la comunicacion clara y precisa, evitando ambiguedades. Si bien nos comunicamos usando un lenguaje natural, siempre hay que tener presente que conversamos con máquinas. 
            </p>

            <div id="carouselExample" class="carousel slide">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="../img/IA-texto-prompt.JPG" class="d-block w-100" alt="Prompt efectivo">
                  </div>
                  <div class="carousel-item">
                    <img src="../img/Captura1.JPG" class="d-block w-100" alt="ejemplo de prompt">
                  </div>
                  <div class="carousel-item">
                    <img src="../img/Captura2.JPG" class="d-block w-100" alt="iagen tecleando">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            <br>
            <h2>Procedimiento</h2>
              <ol>
                <li>Asume un rol. “Sos un experto en pedagogia”. “Sos un profesor de [xxx]"</li>
                <li>Define un objetivo. “Ayudame a crear una secuencia didactica sobre [xx]” “Quiero crear una rubrica que evalue [xx]"</li>
                <li>Proporciona un contexto: “Para estudiantes de [xx] años de Educacion [xxx]” – “Para alumnos de [xx] grado"</li> 
                <li>Establece condiciones, restricciones, tono. “Tengo dos clases de [xx] minutos para el desarrollo de la secuencia”</li>
                <li>Decide la estructura: “Crea una tabla con las actividades indicando duracion de cada una” – “La clase tiene tres momentos: inicial, desarrollo, cierre”.</li> 
                <li>Proceso de prueba y mejora.</li>
            </ol>
            <div class="iatexto-iframe">
            <h2>Video tutorial: Pasos para crear un prompt efectivo</h2> <br>      
                <iframe src="https://www.youtube.com/embed/5_wN7o6e__w?si=wFF-3oC85kT8pO9m" 
                    title="YouTube video player" 
                    frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                    referrerpolicy="strict-origin-when-cross-origin" 
                    allowfullscreen>
                </iframe>
            <br>
            <h2>Video tutorial: Caso Práctico usando ChatGPT</h2> <br>
                <iframe src="https://www.youtube.com/embed/1K55_9x5sZo?si=1tgL079FJq1eTg87" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                </iframe>
            </div>
        </article>
    </div> <!-- /.container-fluid -->
    
    <!--Footer-->
    <footer>
        <p>&copy; Viviana Garay, IA en Educación - Todos los derechos reservados.</p>
    </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </body>